@charset "UTF-8";
/*

 em HTML e id = em CSS e #
 em HTML e class = em CSS e .

*/
body{
    background-color:rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(1, 7, 0);
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2{
    color: rgb(56, 90, 54);
}
.basico{
 color: rgb(4, 109, 0);
 font-weight: bold;
}
.intermediario{
 color: rgb(107, 109, 0);
}
.avancado{
 color: rgb(109, 0, 0);
}
.destaque{
    background-color: rgba(250, 250, 55, 0.514);
}
