@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
     background-image: linear-gradient(to right,#FC8DCA , #C37EDB ,#B7A6F6);
}
main{
   background-color: white;
   border-radius: 20px;
   box-shadow: 5px 5px 15px #4a597a7c;
 width: 600px;
 padding: 10px;
 margin: auto;
}
h1{
    color: #FC8DCA;
    text-align: center;
    text-shadow: 1px 1px 2px #3c49668e;
}

h2{
    color: #88A3E2;
}

p{
    text-align: justify;
}

